language: bash
dist: trusty
sudo: required

before_script:
    - curl -L "https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/shunit2/shunit2-2.1.6.tgz" | tar zx

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - mailutils
    - postfix
    - curl
    - wget
    - file
    - bzip2
    - gzip
    - unzip
    - bsdmainutils
    - python
    - util-linux
    - ca-certificates
    - binutils
    - bc
    - tmux
    - lib32gcc1
    - libstdc++6
    - libstdc++6:i386
    - net-tools
    - iproute2
    - shellcheck

jobs:
  include:
    - stage: jobs
      script: bash tests/tests_jc2server.sh
    - # stage name not required, will continue to use `test`
      script: bash tests/tests_ts3server.sh
