{
  "handleFatalSignals" : true,
  "handleInterruptSignal" : true,
  "rootMaintenanceSleep" : 5000,
  "logFileBackups" : 5,
  "assetSources" : [
    "../assets/packed.pak",
    "../assets/user"
  ],
  "modSource" : "../giraffe_storage/mods/",
  "storageDirectory" : "../giraffe_storage/",
  "defaultConfiguration" : {
    "gameServerPort" : 21025,
    "gameServerBind" : "*",

    "serverUsers" : {},
    "allowAnonymousConnections" : true,

    "bannedUuids" : [],
    "bannedIPs" : [],

    "serverName" : "A Starbound Server",
    "maxPlayers" : 8,
    "upnpPortForwarding" : true,

    "checkAssetsDigest" : false,

    "allowAdminCommands" : true,
    "allowAdminCommandsFromAnyone" : false,
    "anonymousConnectionsAreAdmin" : false,

    "runQueryServer" : false,
    "queryServerPort" : 21025,
    "queryServerBind" : "*",

    "runRconServer" : false,
    "rconServerPort" : 21026,
    "rconServerBind" : "*",
    "rconServerPassword" : "",
    "rconServerTimeout" : 1000,

    "windowTitle" : "Starbound - Beta",
    "vsync" : true,
    "renderSleep" : true,
    "maxFrameSkip" : 10,
    "sampleRate" : 44100,
    "audioChannels" : 2,
    "audioChannelSeparation" : [-25, 25],

    "clearUniverseFiles" : false,
    "clearPlayerFiles" : false,
    "playerBackupFileCount" : 3,

    "sfxVol" : 100,
    "musicVol" : 100,
    "windowedResolution" : [1000, 600],
    "maximizedResolution" : [1000, 600],
    "fullscreenResolution" : [1920, 1080],
    "fullscreen" : false,
    "maximized" : true,
    "zoomLevel" : 3.0,
    "speechBubbles" : true,

    "crafting.filterHaveMaterials" : false,
    "title.connectionString" : "",

    "bindings" : {
      "PlayerUp" :  [ { "type" : "key", "value" : "W", "mods" : [] } ],
      "PlayerDown" :  [ { "type" : "key", "value" : "S", "mods" : [] } ],
      "PlayerLeft" :  [ { "type" : "key", "value" : "A", "mods" : [] } ],
      "PlayerRight" :  [ { "type" : "key", "value" : "D", "mods" : [] } ],
      "PlayerJump" :  [ { "type" : "key", "value" : "Space", "mods" : [] } ],
      "PlayerDropItem" :  [ { "type" : "key", "value" : "Q", "mods" : [] } ],
      "PlayerInteract" :  [ { "type" : "key", "value" : "E", "mods" : [] } ],
      "PlayerShifting" :  [ { "type" : "key", "value" : "RShift", "mods" : [] },                                                                                                                           { "type" : "key", "value" : "LShift", "mods" : [] } ],
      "PlayerTechAction1" :  [ { "type" : "key", "value" : "F", "mods" : [] } ],
      "PlayerTechAction2" :  [ { "type" : "key", "value" : "G", "mods" : [] } ],
      "PlayerTechAction3" :  [ { "type" : "key", "value" : "H", "mods" : [] } ],
      "EmoteBlabbering" :  [ { "type" : "key", "value" : "Right", "mods" : ["LCt                                                                                                                          rl", "LShift"] } ],
      "EmoteShouting" :  [ { "type" : "key", "value" : "Up", "mods" : ["LCtrl",                                                                                                                           "LAlt"] } ],
      "EmoteHappy" :  [ { "type" : "key", "value" : "Up", "mods" : [] } ],
      "EmoteSad" :  [ { "type" : "key", "value" : "Down", "mods" : [] } ],
      "EmoteNeutral" :  [ { "type" : "key", "value" : "Left", "mods" : [] } ],
      "EmoteLaugh" :  [ { "type" : "key", "value" : "Left", "mods" : [ "LCtrl" ]                                                                                                                           } ],
      "EmoteAnnoyed" :  [ { "type" : "key", "value" : "Right", "mods" : [] } ],
      "EmoteOh" :  [ { "type" : "key", "value" : "Right", "mods" : [ "LCtrl" ] }                                                                                                                           ],
      "EmoteOooh" :  [ { "type" : "key", "value" : "Down", "mods" : [ "LCtrl" ]                                                                                                                           } ],
      "EmoteBlink" :  [ { "type" : "key", "value" : "Up", "mods" : [ "LCtrl" ] }                                                                                                                           ],
      "EmoteWink" :  [ { "type" : "key", "value" : "Up", "mods" : ["LCtrl", "LSh                                                                                                                          ift"] } ],
      "EmoteEat" :  [ { "type" : "key", "value" : "Down", "mods" : ["LCtrl", "LS                                                                                                                          hift"] } ],
      "EmoteSleep" :  [ { "type" : "key", "value" : "Left", "mods" : ["LCtrl", "                                                                                                                          LShift"] } ],
      "ShowLabels" :  [ { "type" : "key", "value" : "RAlt", "mods" : [] }, { "ty                                                                                                                          pe" : "key", "value" : "LAlt", "mods" : [] } ],
      "CameraShift" :  [ { "type" : "key", "value" : "RCtrl", "mods" : [] }, { "                                                                                                                          type" : "key", "value" : "LCtrl", "mods" : [] } ],
      "CockpitUp" :  [ { "type" : "key", "value" : "W", "mods" : [] }, { "type"                                                                                                                           : "key", "value" : "Up", "mods" : [] } ],
      "CockpitDown" :  [ { "type" : "key", "value" : "S", "mods" : [] }, { "type                                                                                                                          " : "key", "value" : "Down", "mods" : [] } ],
      "CockpitLeft" :  [ { "type" : "key", "value" : "Left", "mods" : [] }, { "t                                                                                                                          ype" : "key", "value" : "A", "mods" : [] } ],
      "CockpitRight" :  [ { "type" : "key", "value" : "Right", "mods" : [] }, {                                                                                                                           "type" : "key", "value" : "D", "mods" : [] } ],
      "TitleBack" :  [ { "type" : "key", "value" : "Esc", "mods" : [] } ],
      "CinematicSkip" :  [ { "type" : "key", "value" : "Esc", "mods" : [] } ],
      "CinematicNext" :  [ { "type" : "key", "value" : "Right", "mods" : [] }, {                                                                                                                           "type" : "key", "value" : "Return", "mods" : [] } ],
      "GuiClose" :  [ { "type" : "key", "value" : "Esc", "mods" : [] } ],
      "GuiShifting" :  [ { "type" : "key", "value" : "RShift", "mods" : [] }, {                                                                                                                           "type" : "key", "value" : "LShift", "mods" : [] } ],
      "KeybindingCancel" :  [ { "type" : "key", "value" : "Esc", "mods" : [] } ]                                                                                                                          ,
      "KeybindingClear" :  [ { "type" : "key", "value" : "Del", "mods" : [] }, {                                                                                                                           "type" : "key", "value" : "Backspace", "mods" : [] } ],
      "ChatPageUp" :  [ { "type" : "key", "value" : "PageUp", "mods" : [] } ],
      "ChatPageDown" :  [ { "type" : "key", "value" : "PageDown", "mods" : [] }                                                                                                                           ],
      "ChatPreviousLine" :  [ { "type" : "key", "value" : "Up", "mods" : [] } ],
      "ChatNextLine" :  [ { "type" : "key", "value" : "Down", "mods" : [] } ],
      "ChatSendLine" :  [ { "type" : "key", "value" : "Return", "mods" : [] } ],
      "ChatBegin" :  [ { "type" : "key", "value" : "Return", "mods" : [] } ],
      "ChatBeginCommand" :  [ { "type" : "key", "value" : "/", "mods" : [] } ],
      "ChatStop" :  [ { "type" : "key", "value" : "Esc", "mods" : [] } ],
      "InterfaceShowHelp" :  [ { "type" : "key", "value" : "F1", "mods" : [] } ]                                                                                                                          ,
      "InterfaceHideHud" :  [ { "type" : "key", "value" : "Z", "mods" : [ "LAlt"                                                                                                                           ] } ],
      "InterfaceSwapHands" :  [ { "type" : "key", "value" : "Z", "mods" : [] } ]                                                                                                                          ,
      "InterfaceDeselectHands" :  [ { "type" : "key", "value" : "X", "mods" : []                                                                                                                           } ],
      "InterfaceBar1" :  [ { "type" : "key", "value" : "1", "mods" : [] } ],
      "InterfaceBar2" :  [ { "type" : "key", "value" : "2", "mods" : [] } ],
      "InterfaceBar3" :  [ { "type" : "key", "value" : "3", "mods" : [] } ],
      "InterfaceBar4" :  [ { "type" : "key", "value" : "4", "mods" : [] } ],
      "InterfaceBar5" :  [ { "type" : "key", "value" : "5", "mods" : [] } ],
      "InterfaceBar6" :  [ { "type" : "key", "value" : "6", "mods" : [] } ],
      "InterfaceBar7" :  [ { "type" : "key", "value" : "7", "mods" : [] } ],
      "InterfaceBar8" :  [ { "type" : "key", "value" : "8", "mods" : [] } ],
      "InterfaceBar9" :  [ { "type" : "key", "value" : "9", "mods" : [] } ],
      "InterfaceBar10" :  [ { "type" : "key", "value" : "0", "mods" : [] } ],
      "EssentialBar1" :  [ { "type" : "key", "value" : "R", "mods" : [] } ],
      "EssentialBar2" :  [ { "type" : "key", "value" : "T", "mods" : [] } ],
      "EssentialBar3" :  [ { "type" : "key", "value" : "Y", "mods" : [] } ],
      "InterfaceBarNPos" :  [ { "type" : "key", "value" : "-", "mods" : [] }, {                                                                                                                           "type" : "key", "value" : "`", "mods" : [] } ],
      "InterfaceRepeatCommand" :  [ { "type" : "key", "value" : "P", "mods" : []                                                                                                                           } ],
      "InterfaceToggleFullscreen" :  [ { "type" : "key", "value" : "F11", "mods"                                                                                                                           : [] } ],
      "InterfaceEscapeMenu" :  [ { "type" : "key", "value" : "Esc", "mods" : []                                                                                                                           } ],
      "InterfaceInventory" :  [ { "type" : "key", "value" : "I", "mods" : [] } ]                                                                                                                          ,
      "InterfaceCodex" :  [ { "type" : "key", "value" : "L", "mods" : [] } ],
      "InterfaceQuest" :  [ { "type" : "key", "value" : "J", "mods" : [] } ],
      "InterfaceCrafting" :  [ { "type" : "key", "value" : "C", "mods" : [] } ],
      "InterfaceInspectCursor" :  [ { "type" : "key", "value" : "N", "mods" : []                                                                                                                           } ]
    }
  }
}
