# This file does not include all possible commands but it includes the most common/useful ones.
# If you want to see all possible comands, in the server console type: find .

# Before some variables are a # symbol. This means it is disabled. Remove the # symbol to enable them.

#########################################
# Important Settings You Need To Change #
#########################################

#  A text description of your server. For a new line add:  \n
server.description "LGSM Server\nRust support : UltimateByte"

# A URL to the image which shows up on the server details screen (dimensions are 512x256).
server.headerimage "https://github.com/GameServerManagers/LinuxGSM/raw/master/images/logo/lgsm-full-light.png"

# The URL to your servers website.
server.url "https://gameservermanagers.com/"

####################################
# Optional Settings You Can Change #
####################################

# A value of false makes text chat location based only (players need to be close to each other).
# Values: true, false
#server.globalchat true

# Controls if player vs player damage is allowed. If your server is primarily for building, you'll want to set this to false
# Values: true, false
#server.pve false

# Controls fall damage.
# Values: true, false
#falldamage.enabled true

# Helicopter bullet accuracy. Higher numbers are less accurate.
#heli.bulletAccuracy 2

################################################
# Settings That Will Lag Server Is Set Too Low #
################################################

# Changes how often resources respawn.
#spawn.min_rate 0.1
#spawn.max_rate 1

# Changes how close resources spawn to each other.
#spawn.min_density 0.1
#spawn.max_density 1
